.vscode/
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
htmlcov/
.coverage
/output/
.DS_Store

/output/
output/

input/*.csv
input/*.zip
input/*.parquet
input/vsx/*
input/vsx/vsxcat.090525
input/vsx/vsxcat.090525.save

lc_plots/

input/mist/
malca/changes.txt
results_test/
skypatrol
review.db
*.db-shm
*.db-wal
runs*_review.db
malca/reproduction/
dip/
ltv/
