# Core dependencies
numpy
pandas
scipy
numba
tqdm
matplotlib
astropy
celerite2
pyarrow
torch
pystellibs @ git+https://github.com/mfouesneau/pystellibs.git@v1.0.0

# Optional: visualization
plotly
kaleido

# Optional: multiwavelength analysis
astroquery>=0.4.6
dust_extinction
dustmaps3d

# Optional: notebooks
jupyterlab
ipykernel
seaborn
scikit-learn
joblib
